{{page-title "EmberjsPractice"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h1>Welcome to our page</h1>
<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
  <li>{{#link-to 'services'}}Services{{/link-to}}</li>
  <li>{{#link-to 'events'}}Events{{/link-to}}</li>
  <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
</ul>

{{outlet}}